@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}



  ul, ol {
    list-style: none;
  }
  
  /* Скидання стилів для посилань */
  a {
    text-decoration: none;
    color: inherit;
  }
  /* Видалення стилів для кнопок */
  button, input, textarea, select {
    outline: none;
    cursor: pointer;
  }
  
  /* Уніфікація зображень */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  select{
    color: #fff;
  }
  /* Скидання стилів для таблиць */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  width: 100%;
  height: 100vh;
}


